## Name: Shivkumar G. Chauhan
### Roll No.: CS8A53
### Batch A-3
---
# Experiment - 4 : Apply data cleaning techniques.

## imports

In [47]:
import pandas
import numpy
import statistics
import scipy.stats
import matplotlib.pyplot as pyplot
import warnings

## Configurations

initializing matplotlib configurations

In [48]:
# %matplotlib qt
%matplotlib inline
pyplot.rcParams["figure.figsize"] = (15, 12)

hiding warnings

In [49]:
warnings.filterwarnings('ignore')

reading dataset

In [89]:
Raw_Data=pandas.read_csv("../Data/Raw_Data/owid-covid-data.csv")

selecting specific columns

In [90]:
Selected_Columns=['iso_code','date', 'continent', 'location', 'total_cases',
       'new_cases', 'total_deaths', 'new_deaths','population','life_expectancy']

In [107]:
location="World"

Location Specific Data

In [108]:
Location_Specific_Data=Raw_Data[Raw_Data['location']==location]

Last Updated Aggreated Data

In [146]:
Aggregated_Data_by_Location=Raw_Data.groupby(by='location').max('total_cases')

Sorting the Dataframe using total_cases column

In [109]:
Raw_Data=Raw_Data.sort_values(by="total_cases",ascending=False).reset_index(drop=True)

# Data Exploration

## Raw Data

printing Checking of Raw dataset

In [110]:
Raw_Data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,OWID_WRL,NaN,World,2023-02-12,672789992.0,76746.0,168124.000,6853702.0,369.0,1247.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
1,OWID_WRL,NaN,World,2023-02-11,672713246.0,131483.0,169768.429,6853333.0,622.0,1268.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
2,OWID_WRL,NaN,World,2023-02-10,672581763.0,142758.0,165649.000,6852711.0,1422.0,1733.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
3,OWID_WRL,NaN,World,2023-02-09,672440247.0,257000.0,179259.857,6851332.0,2259.0,1851.000,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
4,OWID_WRL,NaN,World,2023-02-08,672183247.0,228269.0,179518.429,6849409.0,1896.0,1908.429,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257010,OWID_WLS,Europe,Wales,2023-02-04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
257011,OWID_WLS,Europe,Wales,2023-02-05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
257012,OWID_WLS,Europe,Wales,2023-02-06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
257013,OWID_WLS,Europe,Wales,2023-02-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
257014,ESH,Africa,Western Sahara,2022-04-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,70.26,NaN,5.760050e+05,NaN,NaN,NaN,NaN

printing the dataset information like column values counts, column value data type

In [111]:
Raw_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257015 entries, 0 to 257014
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    257015 non-null  object
 1   continent                                   242587 non-null  object
 2   location                                    257015 non-null  object
 3   date                                        257015 non-null  object
 4   total_cases                                 242562 non-null  float64
 5   new_cases                                   242216 non-null  float64
 6   new_cases_smoothed                          241012 non-null  float64
 7   total_deaths                                222917 non-null  float64
 8   new_deaths                                  222814 non-null  float64
 9   new_deaths_smoothed                         221628 non-null  float64
 10  total_cases_per_million                     241460 non-null  float64
 11  new_cases_per_million                       241114 non-null  float64
 12  new_cases_smoothed_per_million              239915 non-null  float64
 13  total_deaths_per_million                    221828 non-null  float64
 14  new_deaths_per_million                      221725 non-null  float64
 15  new_deaths_smoothed_per_million             220544 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                34663 non-null   float64
 18  icu_patients_per_million                    34663 non-null   float64
 19  hosp_patients                               37722 non-null   float64
 20  hosp_patients_per_million                   37722 non-null   float64
 21  weekly_icu_admissions                       8669 non-null    float64
 22  weekly_icu_admissions_per_million           8669 non-null    float64
 23  weekly_hosp_admissions                      20491 non-null   float64
 24  weekly_hosp_admissions_per_million          20491 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          72074 non-null   float64
 35  people_vaccinated                           68968 non-null   float64
 36  people_fully_vaccinated                     66322 non-null   float64
 37  total_boosters                              40841 non-null   float64
 38  new_vaccinations                            59774 non-null   float64
 39  new_vaccinations_smoothed                   152951 non-null  float64
 40  total_vaccinations_per_hundred              72074 non-null   float64
 41  people_vaccinated_per_hundred               68968 non-null   float64
 42  people_fully_vaccinated_per_hundred         66322 non-null   float64
 43  total_boosters_per_hundred                  40841 non-null   float64
 44  new_vaccinations_smoothed_per_million       152951 non-null  float64
 45  new_people_vaccinated_smoothed              152817 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  152817 non-null  float64
 47  stringency_index                            185909 non-null  float64
 48  population_density                          223935 non-null  float64
 49  median_age                                  207119 non-null  float64
 50  aged_65_older                               204936 non-null  float64
 51  aged_70_older                               206036 non-null  float64
 52  gdp_per_capita                              206778 non-null  float64
 53  extreme_poverty                             134668 non-null  float64
 54  cardiovasc_death_rate                       206505 non-null  float64
 55  diabetes_prevalence                         217374 non-null  float64
 56  female_smokers                              156638 non-null  float64
 57  male_smokers                                154495 non-null  float64
 58  handwashing_facilities                      101880 non-null  float64
 59  hospital_beds_per_thousand                  184148 non-null  float64
 60  life_expectancy                             235807 non-null  float64
 61  human_development_index                     201879 non-null  float64
 62  population                                  255913 non-null  float64
 63  excess_mortality_cumulative_absolute        8531 non-null    float64
 64  excess_mortality_cumulative                 8531 non-null    float64
 65  excess_mortality                            8531 non-null    float64
 66  excess_mortality_cumulative_per_million     8531 non-null    float64
dtypes: float64(62), object(5)
memory usage: 131.4+ MB

printing different statistics of dataset like mean, quantiles, min, max etc.

In [112]:
Raw_Data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.425620e+05,2.422160e+05,2.410120e+05,2.229170e+05,222814.000000,221628.000000,241460.000000,241114.000000,239915.000000,221828.000000,...,154495.000000,101880.000000,184148.000000,235807.000000,201879.000000,2.559130e+05,8.531000e+03,8531.000000,8531.000000,8531.000000
mean,5.249953e+06,1.184319e+04,1.189204e+04,7.958587e+04,127.809734,128.391436,72945.509126,178.689729,179.239872,749.915129,...,32.820334,50.900699,3.089301,73.596906,0.724549,1.405575e+08,5.167216e+04,10.313593,14.114181,1490.624400
std,3.231413e+07,8.230481e+04,8.001572e+04,4.056417e+05,739.516653,685.526668,123408.302731,1129.646159,668.907368,1026.559656,...,13.539007,31.884795,2.551590,7.446936,0.149554,6.917380e+08,1.407291e+05,13.242279,25.822521,1831.869984
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.001000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-28.450000,-95.920000,-1984.281600
25%,5.678000e+03,0.000000e+00,4.571000e+00,1.230000e+02,0.000000,0.000000,1369.182000,0.000000,0.949000,33.999000,...,21.600000,20.859000,1.300000,69.500000,0.602000,8.367830e+05,8.600001e+01,1.045000,0.250000,51.556450
50%,6.171400e+04,3.800000e+01,7.828600e+01,1.352000e+03,0.000000,1.143000,13869.492000,4.936000,16.257000,248.699000,...,33.100000,49.839000,2.500000,75.050000,0.742000,6.948395e+06,6.983201e+03,7.970000,7.580000,927.002100
75%,6.369140e+05,8.300000e+02,1.012571e+03,1.094500e+04,12.000000,13.571000,86936.171000,84.732000,124.163500,1125.366250,...,41.300000,83.241000,4.200000,79.070000,0.838000,3.369661e+07,3.765704e+04,16.310000,19.180000,2399.098100
max,6.727900e+08,4.082889e+06,3.436560e+06,6.853702e+06,60788.000000,14860.286000,720435.220000,228872.025000,36421.827000,6439.696000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.253111e+06,76.550000,376.770000,10112.677000

In [113]:
Raw_Data.describe(include="all")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,257015,242587,257015,257015,2.425620e+05,2.422160e+05,2.410120e+05,2.229170e+05,222814.000000,221628.000000,...,154495.000000,101880.000000,184148.000000,235807.000000,201879.000000,2.559130e+05,8.531000e+03,8531.000000,8531.000000,8531.000000
unique,248,6,248,1139,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,MEX,Europe,Mexico,2021-11-09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1139,58802,1139,247,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,5.249953e+06,1.184319e+04,1.189204e+04,7.958587e+04,127.809734,128.391436,...,32.820334,50.900699,3.089301,73.596906,0.724549,1.405575e+08,5.167216e+04,10.313593,14.114181,1490.624400
std,NaN,NaN,NaN,NaN,3.231413e+07,8.230481e+04,8.001572e+04,4.056417e+05,739.516653,685.526668,...,13.539007,31.884795,2.551590,7.446936,0.149554,6.917380e+08,1.407291e+05,13.242279,25.822521,1831.869984
min,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-28.450000,-95.920000,-1984.281600
25%,NaN,NaN,NaN,NaN,5.678000e+03,0.000000e+00,4.571000e+00,1.230000e+02,0.000000,0.000000,...,21.600000,20.859000,1.300000,69.500000,0.602000,8.367830e+05,8.600001e+01,1.045000,0.250000,51.556450
50%,NaN,NaN,NaN,NaN,6.171400e+04,3.800000e+01,7.828600e+01,1.352000e+03,0.000000,1.143000,...,33.100000,49.839000,2.500000,75.050000,0.742000,6.948395e+06,6.983201e+03,7.970000,7.580000,927.002100
75%,NaN,NaN,NaN,NaN,6.369140e+05,8.300000e+02,1.012571e+03,1.094500e+04,12.000000,13.571000,...,41.300000,83.241000,4.200000,79.070000,0.838000,3.369661e+07,3.765704e+04,16.310000,19.180000,2399.098100
max,NaN,NaN,NaN,NaN,6.727900e+08,4.082889e+06,3.436560e+06,6.853702e+06,60788.000000,14860.286000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.253111e+06,76.550000,376.770000,10112.677000

## Location Specific Data

Printing Location Specific Data

In [114]:
Location_Specific_Data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,OWID_WRL,NaN,World,2023-02-12,672789992.0,76746.0,168124.000,6853702.0,369.0,1247.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
1,OWID_WRL,NaN,World,2023-02-11,672713246.0,131483.0,169768.429,6853333.0,622.0,1268.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
2,OWID_WRL,NaN,World,2023-02-10,672581763.0,142758.0,165649.000,6852711.0,1422.0,1733.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
3,OWID_WRL,NaN,World,2023-02-09,672440247.0,257000.0,179259.857,6851332.0,2259.0,1851.000,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
4,OWID_WRL,NaN,World,2023-02-08,672183247.0,228269.0,179518.429,6849409.0,1896.0,1908.429,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197867,OWID_WRL,NaN,World,2020-01-26,2120.0,683.0,NaN,56.0,14.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
202240,OWID_WRL,NaN,World,2020-01-25,1437.0,493.0,NaN,42.0,16.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
206130,OWID_WRL,NaN,World,2020-01-24,944.0,287.0,NaN,26.0,8.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
210308,OWID_WRL,NaN,World,2020-01-23,657.0,100.0,NaN,18.0,1.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
211352,OWID_WRL,NaN,World,2020-01-22,557.0,0.0,NaN,17.0,0.0,NaN,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN

printing different statistics of dataset like mean, quantiles, min, max etc.

In [115]:
Location_Specific_Data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.118000e+03,1.118000e+03,1.113000e+03,1.118000e+03,1118.000000,1113.000000,1118.000000,1118.000000,1113.000000,1118.000000,...,1.118000e+03,1.118000e+03,1118.000,1118.00,1.118000e+03,1.118000e+03,0.0,0.0,0.0,0.0
mean,2.683370e+08,6.003492e+05,6.026463e+05,3.799553e+06,6097.053667,6121.513426,33646.828918,75.277906,75.565928,476.426695,...,3.463500e+01,6.013000e+01,2.705,72.58,7.370000e-01,7.975105e+09,NaN,NaN,NaN,NaN
std,2.348252e+08,5.935444e+05,5.682012e+05,2.421545e+06,4389.416540,3834.947046,29444.779815,74.424638,71.246868,303.638069,...,7.108607e-15,7.108607e-15,0.000,0.00,1.110720e-16,0.000000e+00,NaN,NaN,NaN,NaN
min,5.570000e+02,0.000000e+00,3.388570e+02,1.700000e+01,0.000000,9.286000,0.070000,0.000000,0.042000,0.002000,...,3.463500e+01,6.013000e+01,2.705,72.58,7.370000e-01,7.975105e+09,NaN,NaN,NaN,NaN
25%,4.416838e+07,2.798618e+05,3.083566e+05,1.238696e+06,2297.000000,2203.000000,5538.281750,35.091750,38.665000,155.320000,...,3.463500e+01,6.013000e+01,2.705,72.58,7.370000e-01,7.975105e+09,NaN,NaN,NaN,NaN
50%,1.997513e+08,4.816950e+05,4.978420e+05,4.267262e+06,5902.500000,6071.429000,25046.858500,60.400000,62.425000,535.073000,...,3.463500e+01,6.013000e+01,2.705,72.58,7.370000e-01,7.975105e+09,NaN,NaN,NaN,NaN
75%,5.183744e+08,6.824970e+05,6.460574e+05,6.281390e+06,8832.250000,9216.143000,64999.070750,85.578000,81.009000,787.624750,...,3.463500e+01,6.013000e+01,2.705,72.58,7.370000e-01,7.975105e+09,NaN,NaN,NaN,NaN
max,6.727900e+08,4.082889e+06,3.436560e+06,6.853702e+06,60788.000000,14860.286000,84361.270000,511.954000,430.911000,859.387000,...,3.463500e+01,6.013000e+01,2.705,72.58,7.370000e-01,7.975105e+09,NaN,NaN,NaN,NaN

## Last Updated Aggreated Data

Printing Last Updated Aggreated Data

In [147]:
Aggregated_Data_by_Location

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,208982.0,3243.0,2095.571,7896.0,159.0,97.571,5081.163,78.850,50.951,191.982,...,NaN,37.746,0.500,64.83,0.511,4.112877e+07,NaN,NaN,NaN,NaN
Africa,12506902.0,60523.0,46019.571,257629.0,1513.0,984.143,8766.090,42.421,32.255,180.572,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
Albania,334255.0,4789.0,2290.714,3596.0,21.0,20.429,117599.438,1684.892,805.932,1265.165,...,51.200,NaN,2.890,78.57,0.795,2.842318e+06,16603.99800,34.73,120.15,5841.7100
Algeria,271409.0,2521.0,2177.571,6881.0,49.0,38.286,6044.309,56.143,48.495,153.241,...,30.400,83.741,1.900,76.88,0.748,4.490323e+07,49888.70300,26.86,110.72,1148.1425
Andorra,47860.0,2313.0,734.286,165.0,7.0,2.000,599426.374,28969.352,9196.620,2066.556,...,37.800,NaN,NaN,83.73,0.868,7.984300e+04,140.20001,46.81,145.90,1773.4042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,70.26,NaN,5.760050e+05,NaN,NaN,NaN,NaN
World,672789992.0,4082889.0,3436560.286,6853702.0,60788.0,14860.286,84361.270,511.954,430.911,859.387,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
Yemen,11945.0,287.0,109.429,2159.0,60.0,16.429,354.487,8.517,3.247,64.072,...,29.200,49.542,0.700,66.12,0.470,3.369661e+07,NaN,NaN,NaN,NaN
Zambia,342288.0,5555.0,3870.857,4051.0,72.0,61.429,17099.293,277.505,193.372,202.371,...,24.700,13.938,2.000,63.89,0.584,2.001767e+07,NaN,NaN,NaN,NaN
Zimbabwe,263083.0,9185.0,4821.429,5659.0,107.0,78.714,16119.749,562.788,295.421,346.741,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN

printing different statistics of dataset like mean, quantiles, min, max etc.

In [148]:
Aggregated_Data_by_Location.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.310000e+02,2.310000e+02,2.310000e+02,2.270000e+02,227.000000,227.000000,230.000000,230.000000,230.000000,226.000000,...,145.000000,96.000000,173.000000,227.000000,190.000000,2.470000e+02,1.160000e+02,116.000000,116.000000,116.000000
mean,1.244339e+07,1.087414e+05,7.796007e+04,1.261021e+05,1538.057269,522.454383,186899.347935,8941.127126,2983.333370,1256.412389,...,32.909897,50.788844,3.097012,73.525242,0.722500,1.311307e+08,7.480791e+04,19.061121,95.881810,2729.946895
std,5.941804e+07,3.986746e+05,3.225747e+05,5.773876e+05,7997.760818,1827.126191,190873.864782,24654.845340,5418.842827,1288.389498,...,13.621757,32.124848,2.555777,7.418742,0.149398,6.683731e+08,1.934124e+05,14.706540,56.046646,2184.072073
min,1.000000e+00,1.000000e+00,1.430000e-01,1.000000e+00,1.000000,0.143000,0.038000,0.038000,0.005000,0.230000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-4.720000e+01,-6.100000,15.690000,-310.442700
25%,3.215250e+04,1.300000e+03,5.189285e+02,2.975000e+02,13.000000,4.857000,16364.635000,329.394250,191.985250,169.466500,...,22.600000,20.482000,1.300000,69.260000,0.603000,6.225640e+05,1.629850e+03,8.247500,59.752500,1035.751500
50%,2.868670e+05,5.516000e+03,2.673143e+03,3.164000e+03,60.000000,27.714000,122721.342500,1999.344000,1249.207500,787.118000,...,33.100000,49.690500,2.500000,74.990000,0.740000,6.430777e+06,1.656050e+04,16.635000,85.255000,2182.415250
75%,2.196799e+06,3.905950e+04,2.011550e+04,2.138400e+04,334.000000,142.714500,313389.849000,7495.771000,3848.281000,2023.891500,...,41.300000,82.686750,4.200000,78.940000,0.828750,3.007965e+07,5.047325e+04,26.327500,127.950000,3907.153475
max,6.727900e+08,4.082889e+06,3.436560e+06,6.853702e+06,60788.000000,14860.286000,720435.220000,228872.025000,36421.827000,6439.696000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.253111e+06,76.550000,376.770000,10112.677000

# Data Cleaning

Selection Data on which Cleaning should be performed

also creating backup of original Data

In [150]:
Main_Data=Raw_Data.copy()

In [151]:
Main_Data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,OWID_WRL,NaN,World,2023-02-12,672789992.0,76746.0,168124.000,6853702.0,369.0,1247.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
1,OWID_WRL,NaN,World,2023-02-11,672713246.0,131483.0,169768.429,6853333.0,622.0,1268.857,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
2,OWID_WRL,NaN,World,2023-02-10,672581763.0,142758.0,165649.000,6852711.0,1422.0,1733.286,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
3,OWID_WRL,NaN,World,2023-02-09,672440247.0,257000.0,179259.857,6851332.0,2259.0,1851.000,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
4,OWID_WRL,NaN,World,2023-02-08,672183247.0,228269.0,179518.429,6849409.0,1896.0,1908.429,...,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257010,OWID_WLS,Europe,Wales,2023-02-04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
257011,OWID_WLS,Europe,Wales,2023-02-05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
257012,OWID_WLS,Europe,Wales,2023-02-06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
257013,OWID_WLS,Europe,Wales,2023-02-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.170000e+06,NaN,NaN,NaN,NaN
257014,ESH,Africa,Western Sahara,2022-04-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,70.26,NaN,5.760050e+05,NaN,NaN,NaN,NaN

## 1. Dimensionality Reduction
using Feature selection method with forward Selection type

In [152]:
Main_Data=Main_Data[Selected_Columns]

In [153]:
Main_Data

,iso_code,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,population,life_expectancy
0,OWID_WRL,2023-02-12,NaN,World,672789992.0,76746.0,6853702.0,369.0,7.975105e+09,72.58
1,OWID_WRL,2023-02-11,NaN,World,672713246.0,131483.0,6853333.0,622.0,7.975105e+09,72.58
2,OWID_WRL,2023-02-10,NaN,World,672581763.0,142758.0,6852711.0,1422.0,7.975105e+09,72.58
3,OWID_WRL,2023-02-09,NaN,World,672440247.0,257000.0,6851332.0,2259.0,7.975105e+09,72.58
4,OWID_WRL,2023-02-08,NaN,World,672183247.0,228269.0,6849409.0,1896.0,7.975105e+09,72.58
...,...,...,...,...,...,...,...,...,...,...
257010,OWID_WLS,2023-02-04,Europe,Wales,NaN,NaN,NaN,NaN,3.170000e+06,NaN
257011,OWID_WLS,2023-02-05,Europe,Wales,NaN,NaN,NaN,NaN,3.170000e+06,NaN
257012,OWID_WLS,2023-02-06,Europe,Wales,NaN,NaN,NaN,NaN,3.170000e+06,NaN
257013,OWID_WLS,2023-02-07,Europe,Wales,NaN,NaN,NaN,NaN,3.170000e+06,NaN
257014,ESH,2022-04-20,Africa,Western Sahara,NaN,NaN,NaN,NaN,5.760050e+05,70.26

## Handlling Missing Values

checking if any column has null values

In [154]:
Main_Data.isnull().any()

iso_code           False
date               False
continent           True
location           False
total_cases         True
new_cases           True
total_deaths        True
new_deaths          True
population          True
life_expectancy     True
dtype: bool

checking counts of the null values of columns

In [155]:
Main_Data.isnull().sum()

iso_code               0
date                   0
continent          14428
location               0
total_cases        14453
new_cases          14799
total_deaths       34098
new_deaths         34201
population          1102
life_expectancy    21208
dtype: int64

dropping the rows that have null values

In [149]:
Main_Data.dropna()

,iso_code,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,population,life_expectancy
2967,USA,2023-02-12,North America,United States,102849008.0,2469.0,1114377.0,6.0,338289856.0,78.86
2968,USA,2023-02-11,North America,United States,102846539.0,3685.0,1114371.0,30.0,338289856.0,78.86
2969,USA,2023-02-10,North America,United States,102842854.0,12473.0,1114341.0,92.0,338289856.0,78.86
2970,USA,2023-02-09,North America,United States,102830381.0,79947.0,1114249.0,942.0,338289856.0,78.86
2973,USA,2023-02-08,North America,United States,102750434.0,81733.0,1113307.0,1033.0,338289856.0,78.86
...,...,...,...,...,...,...,...,...,...,...
242556,PRK,2022-06-30,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27
242557,PRK,2022-06-29,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27
242558,PRK,2022-06-28,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27
242559,PRK,2022-06-27,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27
242560,PRK,2022-06-26,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27

### handling Null Values in Continent Column

### handling Null Values in Continent Column

### handling Null Values in total_cases Column

### handling Null Values in total_deaths Column

### handling Null Values in new_cases Column

### handling Null Values in new_deaths Column

### handling Null Values in population Column

### handling Null Values in life_expectancy Column