## Name: Shivkumar G. Chauhan
### Roll No.: CS8A53
### Batch A-3
---
# Experiment - 4 : Apply data preprocessing techniques.

## imports

In [11]:
import pandas
import numpy
import warnings
from sklearn import preprocessing

## Configurations

In [12]:
StandardScaler=preprocessing.StandardScaler(
    with_mean=False,
    with_std=True
)
Normalizer=preprocessing.Normalizer(
    norm='max'
)

hiding warnings

In [13]:
warnings.filterwarnings('ignore')

reading dataset

In [45]:
Raw_Data=pandas.read_csv("../Data/Raw_Data/owid-covid-data.csv",date_parser='date')

Sorting the Dataframe using total_cases column

selecting specific columns

In [46]:
Raw_Data=Raw_Data.sort_values(
    by="total_cases",
    ascending=True
).reset_index(drop=True)

In [47]:
Selected_Columns=['iso_code','date', 'continent', 'location', 'total_cases','new_cases', 'total_deaths', 'new_deaths','population','life_expectancy']

Location Specific Data

Last Updated Aggreated Data

In [48]:
location="India"

In [49]:
Aggregated_Data_by_Location=Raw_Data.groupby(
    by='location'
).max('total_cases')

In [50]:
Location_Specific_Data=Raw_Data[
    Raw_Data['location']==location
]

# Data Exploration

## Raw Data

printing Checking of Raw dataset

In [113]:
Raw_Data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,ATG,North America,Antigua and Barbuda,2020-03-15,1.0,1.0,0.143,NaN,0.0,0.0,...,NaN,NaN,3.8,77.02,0.778,93772.0,NaN,NaN,NaN,NaN
1,WLF,Oceania,Wallis and Futuna,2020-11-14,1.0,0.0,0.000,NaN,0.0,0.0,...,NaN,NaN,NaN,79.94,NaN,11596.0,NaN,NaN,NaN,NaN
2,WLF,Oceania,Wallis and Futuna,2020-11-15,1.0,0.0,0.000,NaN,0.0,0.0,...,NaN,NaN,NaN,79.94,NaN,11596.0,NaN,NaN,NaN,NaN
3,WLF,Oceania,Wallis and Futuna,2020-11-16,1.0,0.0,0.000,NaN,0.0,0.0,...,NaN,NaN,NaN,79.94,NaN,11596.0,NaN,NaN,NaN,NaN
4,SMR,Europe,San Marino,2020-02-28,1.0,1.0,0.143,NaN,0.0,0.0,...,NaN,NaN,3.8,84.97,NaN,33690.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297147,ZWE,Africa,Zimbabwe,2020-03-16,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297148,ZWE,Africa,Zimbabwe,2020-03-17,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297149,ZWE,Africa,Zimbabwe,2020-03-18,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297150,ZWE,Africa,Zimbabwe,2020-03-19,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297151,ZWE,Africa,Zimbabwe,2020-03-20,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

printing different statistics of dataset like mean, quantiles, min, max etc.

In [52]:
Raw_Data.describe(include="all")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,297152,283021,297152,297152,2.614010e+05,2.886750e+05,2.874110e+05,2.409870e+05,288741.000000,287511.000000,...,170354.000000,112729.000000,203231.000000,273235.000000,223159.000000,2.971520e+05,1.020500e+04,10205.000000,10205.000000,10205.000000
unique,255,6,255,1181,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ARG,Africa,Argentina,2022-04-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1180,66919,1180,255,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,5.367080e+06,1.117552e+04,1.122060e+04,7.798592e+04,99.555030,99.947194,...,32.911114,50.794994,3.098023,73.721018,0.722548,1.283638e+08,4.683279e+04,9.488196,13.073035,1437.715461
std,NaN,NaN,NaN,NaN,3.374066e+07,1.052843e+05,1.025490e+05,4.045377e+05,612.409212,602.917596,...,13.572942,31.957226,2.548891,7.397070,0.148996,6.605372e+08,1.371560e+05,13.099374,26.692084,1822.875623
min,NaN,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-1984.281600
25%,NaN,NaN,NaN,NaN,5.999000e+03,0.000000e+00,1.286000e+00,1.160000e+02,0.000000,0.000000,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,1.930000e+01,0.370000,-0.990000,12.528376
50%,NaN,NaN,NaN,NaN,5.800800e+04,2.100000e+01,4.142900e+01,1.163000e+03,0.000000,0.286000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.342600e+03,7.690000,6.800000,863.340940
75%,NaN,NaN,NaN,NaN,5.985810e+05,5.800000e+02,6.674290e+02,1.015950e+04,6.000000,7.143000,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.104800e+04,15.460000,18.620000,2344.063000
max,NaN,NaN,NaN,NaN,7.610711e+08,7.946912e+06,6.405128e+06,6.879664e+06,20005.000000,14581.286000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,376.770000,10329.523000

printing the dataset information like column values counts, column value data type

In [53]:
Raw_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297152 entries, 0 to 297151
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    297152 non-null  object
 1   continent                                   283021 non-null  object
 2   location                                    297152 non-null  object
 3   date                                        297152 non-null  object
 4   total_cases                                 261401 non-null  float64
 5   new_cases                                   288675 non-null  float64
 6   new_cases_smoothed                          287411 non-null  float64
 7   total_deaths                                240987 non-null  float64
 8   new_deaths                                  288741 non-null  float64
 9   new_deaths_smoothed                         287511 non-null  float64
 10  total_cases_per_million                     261401 non-null  float64
 11  new_cases_per_million                       288675 non-null  float64
 12  new_cases_smoothed_per_million              287411 non-null  float64
 13  total_deaths_per_million                    240987 non-null  float64
 14  new_deaths_per_million                      288741 non-null  float64
 15  new_deaths_smoothed_per_million             287511 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                34239 non-null   float64
 18  icu_patients_per_million                    34239 non-null   float64
 19  hosp_patients                               34744 non-null   float64
 20  hosp_patients_per_million                   34744 non-null   float64
 21  weekly_icu_admissions                       8961 non-null    float64
 22  weekly_icu_admissions_per_million           8961 non-null    float64
 23  weekly_hosp_admissions                      21049 non-null   float64
 24  weekly_hosp_admissions_per_million          21049 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          73463 non-null   float64
 35  people_vaccinated                           70359 non-null   float64
 36  people_fully_vaccinated                     68041 non-null   float64
 37  total_boosters                              42261 non-null   float64
 38  new_vaccinations                            60710 non-null   float64
 39  new_vaccinations_smoothed                   160807 non-null  float64
 40  total_vaccinations_per_hundred              73463 non-null   float64
 41  people_vaccinated_per_hundred               70359 non-null   float64
 42  people_fully_vaccinated_per_hundred         68041 non-null   float64
 43  total_boosters_per_hundred                  42261 non-null   float64
 44  new_vaccinations_smoothed_per_million       160807 non-null  float64
 45  new_people_vaccinated_smoothed              160918 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  160918 non-null  float64
 47  stringency_index                            193194 non-null  float64
 48  population_density                          252112 non-null  float64
 49  median_age                                  234493 non-null  float64
 50  aged_65_older                               226284 non-null  float64
 51  aged_70_older                               232140 non-null  float64
 52  gdp_per_capita                              229803 non-null  float64
 53  extreme_poverty                             148020 non-null  float64
 54  cardiovasc_death_rate                       230223 non-null  float64
 55  diabetes_prevalence                         241946 non-null  float64
 56  female_smokers                              172707 non-null  float64
 57  male_smokers                                170354 non-null  float64
 58  handwashing_facilities                      112729 non-null  float64
 59  hospital_beds_per_thousand                  203231 non-null  float64
 60  life_expectancy                             273235 non-null  float64
 61  human_development_index                     223159 non-null  float64
 62  population                                  297152 non-null  float64
 63  excess_mortality_cumulative_absolute        10205 non-null   float64
 64  excess_mortality_cumulative                 10205 non-null   float64
 65  excess_mortality                            10205 non-null   float64
 66  excess_mortality_cumulative_per_million     10205 non-null   float64
dtypes: float64(62), object(5)
memory usage: 151.9+ MB

## Location Specific Data

Printing Location Specific Data

In [54]:
Location_Specific_Data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
1144,IND,Asia,India,2020-01-30,1.0,1.0,0.143,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
1710,IND,Asia,India,2020-02-02,2.0,NaN,NaN,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
2307,IND,Asia,India,2020-02-03,3.0,1.0,0.857,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
4604,IND,Asia,India,2020-01-31,5.0,4.0,0.714,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
4605,IND,Asia,India,2020-02-01,5.0,0.0,0.714,NaN,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN

printing different statistics of dataset like mean, quantiles, min, max etc.

In [55]:
Location_Specific_Data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.147000e+03,1171.000000,1166.000000,1104.000000,1174.000000,1169.000000,1147.000000,1171.000000,1166.000000,1104.000000,...,1.179000e+03,1.179000e+03,1.179000e+03,1.179000e+03,1.179000e+03,1.179000e+03,0.0,0.0,0.0,0.0
mean,2.582627e+07,38170.570453,38331.506116,335841.667572,452.136286,454.061965,18223.793786,26.934286,27.047864,236.979976,...,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,1.417173e+09,NaN,NaN,NaN,NaN
std,1.755011e+07,71005.505886,70558.344671,202971.144119,806.654970,775.305346,12383.887300,50.103628,49.788082,143.222546,...,7.108443e-15,1.421689e-14,2.221388e-16,2.843377e-14,1.110694e-16,0.000000e+00,NaN,NaN,NaN,NaN
min,1.000000e+00,0.000000,0.000000,1.000000,0.000000,0.000000,0.001000,0.000000,0.000000,0.001000,...,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,1.417173e+09,NaN,NaN,NaN,NaN
25%,8.659964e+06,1769.500000,1896.928750,143271.000000,17.000000,21.714000,6110.730500,1.249000,1.338750,101.096750,...,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,1.417173e+09,NaN,NaN,NaN,NaN
50%,3.251237e+07,13052.000000,13295.643000,443712.500000,161.500000,209.143000,22941.704000,9.210000,9.381500,313.097000,...,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,1.417173e+09,NaN,NaN,NaN,NaN
75%,4.318767e+07,41258.500000,40619.714500,524843.750000,505.500000,518.286000,30474.516500,29.113000,28.662500,370.345500,...,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,1.417173e+09,NaN,NaN,NaN,NaN
max,4.469698e+07,414188.000000,391279.571000,530808.000000,6148.000000,4190.000000,31539.537000,292.264000,276.099000,374.554000,...,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,1.417173e+09,NaN,NaN,NaN,NaN

## Last Updated Aggreated Data

Printing Last Updated Aggreated Data

In [56]:
Aggregated_Data_by_Location

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,209848.0,3243.0,2095.571,7881.0,159.0,97.571,5102.219,78.850,50.951,191.618,...,NaN,37.746,0.500,64.83,0.511,4.112877e+07,NaN,NaN,NaN,NaN
Africa,13063768.0,72463.0,46909.143,258788.0,1525.0,1020.714,9156.398,50.789,32.879,181.385,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
Albania,333726.0,2832.0,2210.286,3601.0,21.0,20.429,117413.323,996.370,777.635,1266.924,...,51.200,NaN,2.890,78.57,0.795,2.842318e+06,16603.998,34.73,120.15,5841.7100
Algeria,271542.0,2521.0,2177.571,6881.0,49.0,38.286,6047.271,56.143,48.495,153.241,...,30.400,83.741,1.900,76.88,0.748,4.490323e+07,49888.703,26.86,110.72,1148.1425
American Samoa,8321.0,955.0,307.714,34.0,5.0,1.429,187854.160,21559.995,6946.930,767.581,...,NaN,NaN,NaN,73.74,NaN,4.429500e+04,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,70.26,NaN,5.760050e+05,NaN,NaN,NaN,NaN
World,761071062.0,7946912.0,6405127.857,6879664.0,20005.0,14581.286,95430.851,996.465,803.140,862.642,...,34.635,60.130,2.705,72.58,0.737,7.975105e+09,NaN,NaN,NaN,NaN
Yemen,11945.0,287.0,109.429,2159.0,60.0,16.429,354.487,8.517,3.247,64.072,...,29.200,49.542,0.700,66.12,0.470,3.369661e+07,NaN,NaN,NaN,NaN
Zambia,343250.0,5555.0,3870.857,4057.0,72.0,61.429,17147.350,277.505,193.372,202.671,...,24.700,13.938,2.000,63.89,0.584,2.001767e+07,NaN,NaN,NaN,NaN
Zimbabwe,264391.0,6181.0,4579.714,5672.0,107.0,78.714,16199.894,378.725,280.610,347.538,...,30.700,36.791,1.700,61.49,0.571,1.632054e+07,NaN,NaN,NaN,NaN

printing different statistics of dataset like mean, quantiles, min, max etc.

In [57]:
Aggregated_Data_by_Location.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.440000e+02,2.460000e+02,2.460000e+02,2.370000e+02,246.000000,246.000000,244.000000,246.000000,246.000000,237.000000,...,145.000000,96.000000,173.000000,234.000000,190.000000,2.550000e+02,1.230000e+02,123.000000,123.000000,123.000000
mean,1.322130e+07,1.921253e+05,1.509240e+05,1.212382e+05,710.418699,425.224752,199236.108311,9917.960016,3165.973585,1287.243021,...,32.909897,50.788844,3.097012,73.720598,0.722500,1.270264e+08,7.397888e+04,19.618780,102.652683,2793.084122
std,6.458998e+07,9.601383e+05,7.954972e+05,5.677230e+05,2321.571526,1449.128809,194426.138220,25744.922960,5328.762880,1279.438282,...,13.621757,32.124848,2.555777,7.406984,0.149398,6.581601e+08,1.926902e+05,14.023782,61.604822,2138.325905
min,4.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,354.487000,0.000000,0.000000,1.164000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-1.860000e+01,-4.690000,18.750000,-228.832950
25%,2.783275e+04,1.074500e+03,4.021072e+02,2.590000e+02,10.000000,3.143000,24063.459500,330.879750,214.061250,191.618000,...,22.600000,20.482000,1.300000,69.607500,0.603000,4.864000e+05,1.298600e+03,9.815000,63.310000,1191.667650
50%,2.424370e+05,3.832000e+03,2.193928e+03,2.795000e+03,49.000000,20.857500,135324.783000,2312.613000,1474.404000,945.525000,...,33.100000,49.690500,2.500000,75.050000,0.740000,5.643455e+06,1.601400e+04,17.520000,86.620000,2340.893600
75%,1.715720e+06,2.464675e+04,1.508789e+04,1.988000e+04,245.250000,110.035500,331699.877500,7085.378250,4044.664750,2036.568000,...,41.300000,82.686750,4.200000,79.440000,0.828750,2.823112e+07,4.838794e+04,25.885000,129.840000,3894.599350
max,7.610711e+08,7.946912e+06,6.405128e+06,6.879664e+06,20005.000000,14581.286000,729533.363000,228872.025000,37241.781000,6450.827000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,376.770000,10329.523000

# Data Preprocessing

Selection of Data on which Preprocessing should be performed and also creating backup of original Data

In [85]:
Main_Data=Raw_Data.copy()

In [86]:
Main_Data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,ATG,North America,Antigua and Barbuda,2020-03-15,1.0,1.0,0.143,NaN,0.0,0.0,...,NaN,NaN,3.8,77.02,0.778,93772.0,NaN,NaN,NaN,NaN
1,WLF,Oceania,Wallis and Futuna,2020-11-14,1.0,0.0,0.000,NaN,0.0,0.0,...,NaN,NaN,NaN,79.94,NaN,11596.0,NaN,NaN,NaN,NaN
2,WLF,Oceania,Wallis and Futuna,2020-11-15,1.0,0.0,0.000,NaN,0.0,0.0,...,NaN,NaN,NaN,79.94,NaN,11596.0,NaN,NaN,NaN,NaN
3,WLF,Oceania,Wallis and Futuna,2020-11-16,1.0,0.0,0.000,NaN,0.0,0.0,...,NaN,NaN,NaN,79.94,NaN,11596.0,NaN,NaN,NaN,NaN
4,SMR,Europe,San Marino,2020-02-28,1.0,1.0,0.143,NaN,0.0,0.0,...,NaN,NaN,3.8,84.97,NaN,33690.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297147,ZWE,Africa,Zimbabwe,2020-03-16,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297148,ZWE,Africa,Zimbabwe,2020-03-17,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297149,ZWE,Africa,Zimbabwe,2020-03-18,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297150,ZWE,Africa,Zimbabwe,2020-03-19,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
297151,ZWE,Africa,Zimbabwe,2020-03-20,NaN,0.0,0.000,5.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

## 1. Data Reduction

### Dimensionality Reduction

#### Feature selection method with forward Selection type

In [115]:
", ".join(Selected_Columns)

'iso_code, date, continent, location, total_cases, new_cases, total_deaths, new_deaths, population, life_expectancy'

In [87]:
Main_Data=Main_Data[Selected_Columns]

In [88]:
Main_Data

,iso_code,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,population,life_expectancy
0,ATG,2020-03-15,North America,Antigua and Barbuda,1.0,1.0,NaN,0.0,93772.0,77.02
1,WLF,2020-11-14,Oceania,Wallis and Futuna,1.0,0.0,NaN,0.0,11596.0,79.94
2,WLF,2020-11-15,Oceania,Wallis and Futuna,1.0,0.0,NaN,0.0,11596.0,79.94
3,WLF,2020-11-16,Oceania,Wallis and Futuna,1.0,0.0,NaN,0.0,11596.0,79.94
4,SMR,2020-02-28,Europe,San Marino,1.0,1.0,NaN,0.0,33690.0,84.97
...,...,...,...,...,...,...,...,...,...,...
297147,ZWE,2020-03-16,Africa,Zimbabwe,NaN,0.0,5.0,0.0,16320539.0,61.49
297148,ZWE,2020-03-17,Africa,Zimbabwe,NaN,0.0,5.0,0.0,16320539.0,61.49
297149,ZWE,2020-03-18,Africa,Zimbabwe,NaN,0.0,5.0,0.0,16320539.0,61.49
297150,ZWE,2020-03-19,Africa,Zimbabwe,NaN,0.0,5.0,0.0,16320539.0,61.49
297151,ZWE,2020-03-20,Africa,Zimbabwe,NaN,0.0,5.0,0.0,16320539.0,61.49

### Dimensionality Reduction

### Data Reduction

In [89]:
for index in Main_Data['location'].value_counts().index:
    if len(Main_Data[Main_Data['location']==index]['total_cases'].unique())<2:
        print(index,end=" ")
        print(Main_Data[Main_Data['location']==index]['total_cases'].unique(),end=" ")
        print(len(Main_Data[Main_Data['location']==index]['total_cases'].unique()),end=" ")
        Main_Data=Main_Data[Main_Data['location']!=index]

North Korea [nan] 1 Turkmenistan [nan] 1 Taiwan [nan] 1 Hong Kong [nan] 1 Northern Ireland [nan] 1 Scotland [nan] 1 England [nan] 1 Wales [nan] 1 Macao [nan] 1 Northern Cyprus [nan] 1 Western Sahara [nan] 1

## 2. Data Cleaning

### Handlling Missing Values

checking if any column has null values

checking counts of the null values of columns

In [90]:
Main_Data.isnull().any()

iso_code           False
date               False
continent           True
location           False
total_cases         True
new_cases           True
total_deaths        True
new_deaths          True
population         False
life_expectancy     True
dtype: bool

In [91]:
Main_Data.isnull().sum()

iso_code               0
date                   0
continent          14131
location               0
total_cases        25225
new_cases            299
total_deaths       45639
new_deaths           233
population             0
life_expectancy    18822
dtype: int64

#### Manual Handaling

##### handling Null Values in Continent Column

In [92]:
Main_Data[
    Main_Data['continent'].isnull()
]['location'].value_counts()

Lower middle income    1179
South America          1179
Asia                   1179
Upper middle income    1179
High income            1179
European Union         1179
Europe                 1179
World                  1179
North America          1177
Oceania                1174
Africa                 1174
Low income             1174
Name: location, dtype: int64

In [93]:
Main_Data[Main_Data['continent'].isnull()==True]['location'].value_counts().index

Index(['Lower middle income', 'South America', 'Asia', 'Upper middle income',
       'High income', 'European Union', 'Europe', 'World', 'North America',
       'Oceania', 'Africa', 'Low income'],
      dtype='object')

In [94]:
for index in Main_Data[Main_Data['continent'].isnull()==True]['location'].value_counts().index:
    if index.find("income")!=-1:
        Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(value={"continent":"Income Based"})
    elif index.find("Europe")!=-1:
        Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(value={"continent":"Europe"})
    elif index.find("International")!=-1 or index.find("World")!=-1:
        Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(value={"continent":"World"})
    else:
        Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(value={"continent":index})

In [95]:
Main_Data[Main_Data['continent'].isnull()]['location'].value_counts()

Series([], Name: location, dtype: int64)

In [96]:
Main_Data['continent'].value_counts()

Africa           68092
Europe           62304
Asia             54033
North America    49324
Oceania          29352
South America    17631
Income Based      4711
World             1179
Name: continent, dtype: int64

In [97]:
Main_Data.isnull().sum()

iso_code               0
date                   0
continent              0
location               0
total_cases        25225
new_cases            299
total_deaths       45639
new_deaths           233
population             0
life_expectancy    18822
dtype: int64

#### handling Null Values in life_expectancy Column

In [98]:
Main_Data[Main_Data['life_expectancy'].isnull()]['continent'].value_counts()

Europe           5880
Income Based     4711
North America    2351
Oceania          2348
South America    1179
Asia             1179
Africa           1174
Name: continent, dtype: int64

In [99]:
for index in Main_Data[Main_Data['life_expectancy'].isnull()==False]['continent'].value_counts().index:
    Main_Data[Main_Data['continent']==index]=Main_Data[Main_Data['continent']==index].fillna(value={"life_expectancy":Main_Data[Main_Data['continent']==index]['life_expectancy'].mean()})
Main_Data=Main_Data.fillna(value={"life_expectancy":Main_Data['life_expectancy'].mean()})

In [100]:
Main_Data[Main_Data['life_expectancy'].isnull()]['continent'].value_counts()

Series([], Name: continent, dtype: int64)

In [101]:
Main_Data['life_expectancy'].value_counts()

79.779720    5880
73.777894    4711
76.880000    3522
72.580000    2358
75.050000    2353
             ...
82.430000    1174
83.920000    1174
82.050000    1174
68.370000    1174
71.680000    1173
Name: life_expectancy, Length: 221, dtype: int64

In [102]:
Main_Data.isnull().sum()

iso_code               0
date                   0
continent              0
location               0
total_cases        25225
new_cases            299
total_deaths       45639
new_deaths           233
population             0
life_expectancy        0
dtype: int64

#### handling Null Values in Population Column

In [103]:
Main_Data[Main_Data['population'].isnull()==True]['location'].value_counts()

Series([], Name: location, dtype: int64)

In [104]:
Main_Data['population']=Main_Data['population'].fillna(Main_Data[Main_Data['location']=='International']['total_cases'].max())

In [105]:
Main_Data[Main_Data['population'].isnull()==True]['location'].value_counts()

Series([], Name: location, dtype: int64)

In [106]:
Main_Data.isnull().sum()

iso_code               0
date                   0
continent              0
location               0
total_cases        25225
new_cases            299
total_deaths       45639
new_deaths           233
population             0
life_expectancy        0
dtype: int64

#### Multiple Columns Null Values Handlling

##### handling Null Values in new_cases and new_deaths Column

In [107]:
Main_Data[['new_cases','new_deaths']]=Main_Data[['new_cases','new_deaths']].fillna(0)

In [108]:
Main_Data.isnull().sum()

iso_code               0
date                   0
continent              0
location               0
total_cases        25225
new_cases              0
total_deaths       45639
new_deaths             0
population             0
life_expectancy        0
dtype: int64

##### handling Null Values in total_cases and total_deaths Column

In [109]:
for index in Main_Data['location'].value_counts().index:
    Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(0,limit=1)
    Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(method='ffill')

In [110]:
Main_Data.isnull().sum()

iso_code           0
date               0
continent          0
location           0
total_cases        0
new_cases          0
total_deaths       0
new_deaths         0
population         0
life_expectancy    0
dtype: int64

In [112]:
Main_Data

,iso_code,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,population,life_expectancy
0,ATG,2020-03-15,North America,Antigua and Barbuda,1.0,1.0,0.0,0.0,93772.0,77.02
1,WLF,2020-11-14,Oceania,Wallis and Futuna,1.0,0.0,0.0,0.0,11596.0,79.94
2,WLF,2020-11-15,Oceania,Wallis and Futuna,1.0,0.0,0.0,0.0,11596.0,79.94
3,WLF,2020-11-16,Oceania,Wallis and Futuna,1.0,0.0,0.0,0.0,11596.0,79.94
4,SMR,2020-02-28,Europe,San Marino,1.0,1.0,0.0,0.0,33690.0,84.97
...,...,...,...,...,...,...,...,...,...,...
297147,ZWE,2020-03-16,Africa,Zimbabwe,0.0,0.0,5.0,0.0,16320539.0,61.49
297148,ZWE,2020-03-17,Africa,Zimbabwe,0.0,0.0,5.0,0.0,16320539.0,61.49
297149,ZWE,2020-03-18,Africa,Zimbabwe,0.0,0.0,5.0,0.0,16320539.0,61.49
297150,ZWE,2020-03-19,Africa,Zimbabwe,0.0,0.0,5.0,0.0,16320539.0,61.49
297151,ZWE,2020-03-20,Africa,Zimbabwe,0.0,0.0,5.0,0.0,16320539.0,61.49

## Final Function for Whole Data Processing for Covid Data

In [111]:
def PreprocessTheCovidData(Main_Data,Selected_columns)->pandas.DataFrame:
    Main_Data=Main_Data[Selected_Columns]
    for index in Main_Data['location'].value_counts().index:
        if len(Main_Data[Main_Data['location']==index]['total_cases'].unique())<2:
            Main_Data=Main_Data[Main_Data['location']!=index]
    for index in Main_Data[Main_Data['continent'].isnull()==True]['location'].value_counts().index:
        if index.find("income")!=-1:
            Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(value={"continent":"Income Based"})
        elif index.find("Europe")!=-1:
            Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(value={"continent":"Europe"})
        elif index.find("International")!=-1 or index.find("World")!=-1:
            Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(value={"continent":"World"})
        else:
            Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(value={"continent":index})
    for index in Main_Data[Main_Data['life_expectancy'].isnull()==False]['continent'].value_counts().index:
        Main_Data[Main_Data['continent']==index]=Main_Data[Main_Data['continent']==index].fillna(value={"life_expectancy":Main_Data[Main_Data['continent']==index]['life_expectancy'].mean()})
    Main_Data=Main_Data.fillna(value={"life_expectancy":Main_Data['life_expectancy'].mean()})
    Main_Data['population']=Main_Data['population'].fillna(Main_Data[Main_Data['location']=='International']['total_cases'].max())
    Main_Data[['new_cases','new_deaths']]=Main_Data[['new_cases','new_deaths']].fillna(0)
    for index in Main_Data['location'].value_counts().index:
        Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(0,limit=1)
        Main_Data[Main_Data['location']==index]=Main_Data[Main_Data['location']==index].fillna(method='ffill')
    return Main_Data

In [498]:
PreprocessTheCovidData(Raw_Data.copy().reset_index(drop=True),Selected_Columns)

Northern Ireland [nan] 1 Scotland [nan] 1 England [nan] 1 Wales [nan] 1 Puerto Rico [nan] 1 Guam [nan] 1 United States Virgin Islands [nan] 1 Northern Cyprus [nan] 1 Guernsey [nan] 1 Jersey [nan] 1 Turkmenistan [nan] 1 Northern Mariana Islands [nan] 1 Sint Maarten (Dutch part) [nan] 1 Tokelau [nan] 1 Niue [nan] 1 Pitcairn [nan] 1 Western Sahara [nan] 1

iso_code           0
date               0
continent          0
location           0
total_cases        0
new_cases          0
total_deaths       0
new_deaths         0
population         0
life_expectancy    0
dtype: int64

,iso_code,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,population,life_expectancy
0,FSM,2021-07-29,Oceania,Micronesia (country),1.0,0.0,0.0,0.0,114178.0,67.88
1,PRK,2022-06-22,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27
2,PRK,2022-06-26,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27
3,PRK,2022-06-27,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27
4,PRK,2022-06-28,Asia,North Korea,1.0,0.0,6.0,0.0,26069416.0,72.27
...,...,...,...,...,...,...,...,...,...,...
255139,TUV,2022-05-19,Oceania,Tuvalu,0.0,0.0,0.0,0.0,11335.0,67.57
255140,TUV,2022-05-20,Oceania,Tuvalu,0.0,0.0,0.0,0.0,11335.0,67.57
255141,TUV,2022-05-21,Oceania,Tuvalu,0.0,0.0,0.0,0.0,11335.0,67.57
255142,TUV,2022-05-22,Oceania,Tuvalu,0.0,0.0,0.0,0.0,11335.0,67.57
255143,GBR,2020-01-30,Europe,United Kingdom,0.0,0.0,1.0,1.0,67508936.0,81.32

## Data Integration

In [501]:
India_Data=PreprocessTheCovidData(
    Main_Data=Main_Data[
        Main_Data['location']=='India'
    ].copy().reset_index(drop=True),
    Selected_columns=Selected_Columns
)

In [502]:
Japan_Data=PreprocessTheCovidData(
    Main_Data=Main_Data[
        Main_Data['location']=='Japan'
    ].copy().reset_index(drop=True),
    Selected_columns=Selected_Columns
)

In [503]:
Australia_Data=PreprocessTheCovidData(
    Main_Data=Main_Data[
    Main_Data['location']=='Australia'
    ].copy().reset_index(drop=True),
    Selected_columns=Selected_Columns
)

In [507]:
Specific_locations_Data=pandas.concat(
    [
        India_Data,
        Japan_Data,
        Australia_Data
    ],
    ignore_index=True
)

In [508]:
Specific_locations_Data

,iso_code,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,population,life_expectancy
0,IND,2020-01-31,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66
1,IND,2020-02-01,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66
2,IND,2020-01-30,Asia,India,1.0,1.0,0.0,0.0,1.417173e+09,69.66
3,IND,2020-02-02,Asia,India,2.0,1.0,0.0,0.0,1.417173e+09,69.66
4,IND,2020-02-15,Asia,India,3.0,0.0,0.0,0.0,1.417173e+09,69.66
...,...,...,...,...,...,...,...,...,...,...
3337,AUS,2023-02-02,Oceania,Australia,11313123.0,17677.0,18828.0,213.0,2.617741e+07,83.44
3338,AUS,2023-02-09,Oceania,Australia,11327900.0,14996.0,19063.0,235.0,2.617741e+07,83.44
3339,AUS,2023-02-12,Oceania,Australia,11330342.0,0.0,19070.0,0.0,2.617741e+07,83.44
3340,AUS,2023-02-11,Oceania,Australia,11330342.0,0.0,19070.0,0.0,2.617741e+07,83.44
3341,AUS,2023-02-10,Oceania,Australia,11330342.0,2442.0,19070.0,7.0,2.617741e+07,83.44

In [512]:
India_Data.merge(Japan_Data,on='continent')

,iso_code_x,date_x,continent,location_x,total_cases_x,new_cases_x,total_deaths_x,new_deaths_x,population_x,life_expectancy_x,iso_code_y,date_y,location_y,total_cases_y,new_cases_y,total_deaths_y,new_deaths_y,population_y,life_expectancy_y
0,IND,2020-01-31,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,JPN,2020-01-23,Japan,2.0,0.0,0.0,0.0,123951696.0,84.63
1,IND,2020-01-31,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,JPN,2020-01-25,Japan,2.0,0.0,0.0,0.0,123951696.0,84.63
2,IND,2020-01-31,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,JPN,2020-01-24,Japan,2.0,0.0,0.0,0.0,123951696.0,84.63
3,IND,2020-01-31,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,JPN,2020-01-22,Japan,2.0,0.0,0.0,0.0,123951696.0,84.63
4,IND,2020-01-31,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,JPN,2020-01-26,Japan,4.0,2.0,0.0,0.0,123951696.0,84.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240975,IND,2023-02-12,Asia,India,44685425.0,206.0,530753.0,3.0,1.417173e+09,69.66,JPN,2023-02-08,Japan,32868798.0,41584.0,69970.0,200.0,123951696.0,84.63
1240976,IND,2023-02-12,Asia,India,44685425.0,206.0,530753.0,3.0,1.417173e+09,69.66,JPN,2023-02-09,Japan,32901767.0,32969.0,70193.0,223.0,123951696.0,84.63
1240977,IND,2023-02-12,Asia,India,44685425.0,206.0,530753.0,3.0,1.417173e+09,69.66,JPN,2023-02-10,Japan,32930382.0,28615.0,70385.0,192.0,123951696.0,84.63
1240978,IND,2023-02-12,Asia,India,44685425.0,206.0,530753.0,3.0,1.417173e+09,69.66,JPN,2023-02-11,Japan,32957753.0,27371.0,70566.0,181.0,123951696.0,84.63
1240979,IND,2023-02-12,Asia,India,44685425.0,206.0,530753.0,3.0,1.417173e+09,69.66,JPN,2023-02-12,Japan,32971493.0,13740.0,70703.0,137.0,123951696.0,84.63

In [517]:
India_Data.merge(Japan_Data,on='date',how="left")

,iso_code_x,date,continent_x,location_x,total_cases_x,new_cases_x,total_deaths_x,new_deaths_x,population_x,life_expectancy_x,iso_code_y,continent_y,location_y,total_cases_y,new_cases_y,total_deaths_y,new_deaths_y,population_y,life_expectancy_y
0,IND,2020-01-31,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,JPN,Asia,Japan,15.0,4.0,0.0,0.0,123951696.0,84.63
1,IND,2020-02-01,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,JPN,Asia,Japan,20.0,5.0,0.0,0.0,123951696.0,84.63
2,IND,2020-01-30,Asia,India,1.0,1.0,0.0,0.0,1.417173e+09,69.66,JPN,Asia,Japan,11.0,4.0,0.0,0.0,123951696.0,84.63
3,IND,2020-02-02,Asia,India,2.0,1.0,0.0,0.0,1.417173e+09,69.66,JPN,Asia,Japan,20.0,0.0,0.0,0.0,123951696.0,84.63
4,IND,2020-02-15,Asia,India,3.0,0.0,0.0,0.0,1.417173e+09,69.66,JPN,Asia,Japan,54.0,11.0,1.0,0.0,123951696.0,84.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,IND,2023-02-07,Asia,India,44684864.0,96.0,530746.0,1.0,1.417173e+09,69.66,JPN,Asia,Japan,32827214.0,44755.0,69770.0,161.0,123951696.0,84.63
1106,IND,2023-02-08,Asia,India,44684973.0,109.0,530748.0,2.0,1.417173e+09,69.66,JPN,Asia,Japan,32868798.0,41584.0,69970.0,200.0,123951696.0,84.63
1107,IND,2023-02-09,Asia,India,44685087.0,114.0,530750.0,2.0,1.417173e+09,69.66,JPN,Asia,Japan,32901767.0,32969.0,70193.0,223.0,123951696.0,84.63
1108,IND,2023-02-11,Asia,India,44685219.0,1357.0,530750.0,0.0,1.417173e+09,69.66,JPN,Asia,Japan,32957753.0,27371.0,70566.0,181.0,123951696.0,84.63
1109,IND,2023-02-12,Asia,India,44685425.0,206.0,530753.0,3.0,1.417173e+09,69.66,JPN,Asia,Japan,32971493.0,13740.0,70703.0,137.0,123951696.0,84.63

## Data Transformation

### 1.  Attribution

#### creating new Attribute death_percentage on new cases

In [533]:
India_Data['death_percentage_for_new_cases']=[100*i[1]/max(1,i[0]) for  i in India_Data[['new_cases','new_deaths']].to_numpy()]

In [535]:
India_Data

,iso_code,date,continent,location,total_cases,new_cases,total_deaths,new_deaths,population,life_expectancy,death_percentage_for_new_cases
0,IND,2020-01-31,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,0.000000
1,IND,2020-02-01,Asia,India,1.0,0.0,0.0,0.0,1.417173e+09,69.66,0.000000
2,IND,2020-01-30,Asia,India,1.0,1.0,0.0,0.0,1.417173e+09,69.66,0.000000
3,IND,2020-02-02,Asia,India,2.0,1.0,0.0,0.0,1.417173e+09,69.66,0.000000
4,IND,2020-02-15,Asia,India,3.0,0.0,0.0,0.0,1.417173e+09,69.66,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
1105,IND,2023-02-07,Asia,India,44684864.0,96.0,530746.0,1.0,1.417173e+09,69.66,1.041667
1106,IND,2023-02-08,Asia,India,44684973.0,109.0,530748.0,2.0,1.417173e+09,69.66,1.834862
1107,IND,2023-02-09,Asia,India,44685087.0,114.0,530750.0,2.0,1.417173e+09,69.66,1.754386
1108,IND,2023-02-11,Asia,India,44685219.0,1357.0,530750.0,0.0,1.417173e+09,69.66,0.000000
1109,IND,2023-02-12,Asia,India,44685425.0,206.0,530753.0,3.0,1.417173e+09,69.66,1.456311

### 2. Normalization

In [606]:
Normalizer.fit_transform([India_Data['total_cases'],India_Data['total_deaths']])

array([[2.23786615e-08, 2.23786615e-08, 2.23786615e-08, ...,
        9.99992436e-01, 9.99995390e-01, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        9.99994348e-01, 9.99994348e-01, 1.00000000e+00]])

### 3. Standardization

In [607]:
StandardScaler.fit_transform([India_Data['total_cases']])

array([[1.0000000e+00, 1.0000000e+00, 1.0000000e+00, ..., 4.4685087e+07,
        4.4685219e+07, 4.4685425e+07]])